<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="Praxis für Psychotherapie in Schönwald im Schwarzwald">
    <meta name="title" content="Psychotherapie Wild">
    <meta name="lang" content="de">
    <meta name="keywords" content="psychotherapie, therapie, therapy, depression, symptoms, borderline, ads, adhs">

    <!-- link rel="icon" href="<%= BASE_URL %>favicon.ico" -->
    <link rel="shortcut icon" type="image/png" href="./favicon.ico"/>

    <script src="https://kit.fontawesome.com/23d57938e1.js" crossorigin="anonymous"></script>

    <title>Psychotherapie Wild</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
