<template>
    <div>
        <!--<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=7.824668884277345%2C47.96464048780833%2C8.497581481933596%2C48.24593970387843&amp;layer=mapnik" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/#map=12/48.1055/8.1611">Größere Karte anzeigen</a></small>-->
        <embed src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d2664.159253090723!2d8.202985951424084!3d48.107163561155375!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e0!4m0!4m5!1s0x4790c29d73306d9b%3A0x8315e4e2f0dbda1!2sRobert-Gerwig-Stra%C3%9Fe%2019%2C%2078141%20Sch%C3%B6nwald%20im%20Schwarzwald!3m2!1d48.10716!2d8.20518!5e0!3m2!1sde!2sde!4v1583655535671!5m2!1sde!2sde"
               :width="width" :height="height" frameborder="0" style="border:0;" allowfullscreen="" />
    </div>
</template>

<script>
    export default {
        name: "MapSection",
        props: {
            width: Number,
            height: Number
        }
    }
</script>

<style scoped>

</style>
